define host{
    use             linux-server    ; ya standard host template
    host_name       My-Firewall
    alias           Main Perimeter Firewall
    address         182.95.41.154     ; Aapke firewall ka IP address
}
